*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.bank-title-page{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav.logo{
    width: 80px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin: 30px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}
.content{
    text-align: center;
}
.content h1{
    font-size: 100px;
    color: #fff;
    font-weight: 400;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
#features{
    text-align:center;
    padding: 7% 15% ;
    background-color: white;
    position: relative;
}

.icon{
    color: #74ebd5;
    padding: 2% 10%;
    margin: 5% 10%;
}

i:hover{
    color: hsl(184, 83%, 72%);
}
.feature-box{
    box-sizing:border-box
    text-align: center;
    padding: 7%;
}
#title{
    color: white;
    background-color:#74ebd5;
}
.container-fluid{
    padding: 3% 15% 7%;
}
p{
    color: grey;
}
.features a{
  text-decoration:none;
  display:inline-block;
  margin:27px 28%;
  text-transform:uppercase;
  color:#858585;
  font-weight:lighter;
  -webkit-transition:.5s;
  transition:.5s;
}
#footer{
text-align:center;
padding: 30px 20px;
}
.social-icon{
    margin: 20px 10px;
}
